/* main styles */

:root {
    --windowWidth: 100%;
    --windowHeight: 100vh;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

#mainContainer {
    width: 100%;
    height: 100vh;
}

.mainHeader {
    width: 100%;
    height: 100vh;
    position: relative;
    height: var(--windowHeight);
    width: var(--windowWidth);
    background-image: url("images/cat-gf4cd869fe_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    overflow: hidden;
}

.mainHeader .backgroundTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    font-size: 10em;
    text-transform: uppercase;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
    animation: fadeIn 3s 1;
}

.headerText {
    display: block;
    padding: 10px;
    font-size: 2rem;
    color: MintCream;
    letter-spacing: 1.25px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    opacity: .75;
    transition: .3s;
}

.headerText:hover {
    padding: 15px;
    font-size: 2.1em;
    opacity: 1;
}

.hiddenTab {
    position: absolute;
    width: var(--windowWidth);
    height: var(--windowHeight);
    opacity: 0;
    transition: 1.25s;
}

.tabContent {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.8);
}

.tabContent h1.headed {
    margin: 15px 0 -5px;
    font-size: 5em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.tabContent h2.subheaded {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.tabContent p:not(.headed, .subheaded) {
    margin-top: 30px;
    font-size: 1em;
}

/* About block */

.aboutBlock .aboutTab {
    top: calc(var(--windowHeight) * -1);
    left: 0;
    background-color: lightpink;
    border-radius: 0 0 50% 50%;
}

.aboutBlock .aboutText {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--windowWidth);
}

.aboutBlock h2.subheaded {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.aboutBlock p.lastParagraph {
    width: 1000px;
    margin: 50px auto;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/* Adoption block */

.adoptBlock .adoptTab {
    top: var(--windowHeight);
    left: 0;
    background-color: PaleTurquoise;
    border-radius: 50% 50% 0 0;
}

.adoptBlock .adoptText {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--windowWidth);
}

.adoptBlock .tabContent {
    position: relative;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    max-width: 1024px;
}

.adoptBlock h2.subheaded {
    font-size: 2.5em;
}

.adoptBlock p.introduction {
    font-size: 1.5em;
    margin: -25px 0 50px;
    text-align: center;
}

.adoptBlock .adoption {
    text-align: center;
    font-size: 1.1em;
    line-height: 3;
    text-indent: 10px;
}

.adoptBlock .adoption p:last-child {
    line-height: 2;
    font-weight: 600;
}

.adoptBlock .adoptionList {
    list-style-type: none;
    margin: 0 auto 50px;
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.adoptBlock .adoptionList .adoptionListItem::first-letter {
    font-size: 1.3em;
}

/* Donate block */

.donateBlock .donateTab {
    top: 0;
    left: calc(var(--windowWidth) * -1);
    background-color: DarkSeaGreen;
}

.donateBlock .donateText {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: var(--windowHeight);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.donateBlock .tabContent {
    position: relative;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    text-align: center;
    font-size: 2.5em;
}

.donateBlock .donateValue {
    display: inline-block;
    margin: 50px 25px;
    cursor: pointer;
    transition: transform .1s;
}

.donateBlock .donateValue:hover {
    transform: scale(1.1);
}

.donateBlock button {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 10px 1px black;
    transition: box-shadow .1s;
}

.donateBlock button:hover {
    box-shadow: 0 0 15px 1px black;
}

.donateBlock button:active {
    background-color: darkseagreen;
}

/* Contact block */

.contactBlock .contactTab {
    top: 0;
    left: var(--windowWidth);
    background-color: Thistle;
}

.contactBlock .contactText {
    position: absolute;
    top: 50%;
    right: 0;
    height: var(--windowHeight);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: translate(0, -50%) rotate(180deg);
}

.contactBlock .tabContent {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.contactBlock h2.subheaded {
    font-size: 3em;
}

.contactBlock .tabContent>p:first-of-type {
    margin-bottom: 3em;
}

.contactBlock .tabContent>p {
    text-align: center;
    font-size: 1.1em;
}

.contactBlock .contactForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    margin: 2em auto;
    padding: 0 35px;
    width: 50vmin;
    height: 50vmin;
    border-radius: 3%;
    background-color: #fff;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.contactBlock .contactForm form>p {
    text-transform: capitalize;
    font-size: 0.9em;
}

.contactBlock .contactForm form>input {
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgba(42, 42, 42, 0.5);
    border-radius: 3px;
    margin-top: 0.5em;
    padding: 10px 10px;
    width: 40vmin;
    height: 40px;
}

.contactBlock .contactForm textarea {
    font-family: 'Poppins', sans-serif;
    padding: 10px 10px;
    border-radius: 3px;
    height: 150px;
    width: 100%;
    resize: none;
}

.contactBlock .contactForm .sendBtn {
    margin: .5em auto;
    display: block;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    border-color: #1e90ff;
    border-radius: 30px;
    line-height: 1.2;
    padding: 5px 30px;
    background-color: #fff;
    color: #1e90ff;
    cursor: pointer;
    transition: .3s;
}

.contactBlock .contactForm .sendBtn:hover {
    box-shadow: 0 0 10px 1px #1e90ff;
}


/* dynamic styles */

.activeTab {
    top: 0 !important;
    left: 0 !important;
    border-radius: 0 !important;
    opacity: 0.9 !important;
    z-index: 5;
}

.activeText {
    font-size: 3rem !important;
    z-index: 10;
}

.activeDonateValue {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .5;
    }
}